table {
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}
  
  
  thead {
    border: 1px solid black; 
    background-color: #1d96b2;
    color: white;
  }
  
  tr {
    border: 1px solid #1d96b2;
  }
  
  td {
    border: 1px solid black;
    color: #5e5d52;
  }
  
  tr:nth-of-type(2n) {
    background-color: #efefee;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    white-space: nowrap;
    text-align: center;
  }

#New_Form_Button { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 5mm;
    background-color: rgba(132, 216, 250, 0.541);
    margin: auto;
}